In [1]:
# General Utility
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import copy
import warnings
from IPython.display import display
from IPython.display import Image
%matplotlib inline

In [3]:
# This data set was taken from https://ourworldindata.org/co2-and-other-greenhouse-gas-emissions
co2_gdp_df = pd.read_csv('CO2_em_vs_gdp_both_per_capita.csv')
co2_gdp_df.head(5)

,Entity,Code,Year,CO₂ emissions per capita (tonnes per year),GDP per capita (inflation and PPP-adjusted) (2011 international-$),Total population (Gapminder)
0,Afghanistan,AFG,1800,NaN,NaN,3280000.0
1,Afghanistan,AFG,1820,NaN,NaN,3280000.0
2,Afghanistan,AFG,1870,NaN,NaN,4207000.0
3,Afghanistan,AFG,1913,NaN,NaN,5730000.0
4,Afghanistan,AFG,1950,0.0,NaN,8151455.0

In [6]:
co2_gdp_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20612 entries, 0 to 20611
Data columns (total 6 columns):
Entity                                                                20612 non-null object
Code                                                                  20554 non-null object
Year                                                                  20612 non-null int64
CO₂ emissions per capita (tonnes per year)                            11083 non-null float64
GDP per capita (inflation and PPP-adjusted) (2011 international-$)    9439 non-null float64
Total population (Gapminder)                                          20081 non-null float64
dtypes: float64(3), int64(1), object(2)
memory usage: 966.3+ KB

In [16]:
co2_gdp_no_nan = co2_gdp_df.dropna()
co2_gdp_no_nan.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8357 entries, 128 to 20610
Data columns (total 6 columns):
Entity                                                                8357 non-null object
Code                                                                  8357 non-null object
Year                                                                  8357 non-null int64
CO₂ emissions per capita (tonnes per year)                            8357 non-null float64
GDP per capita (inflation and PPP-adjusted) (2011 international-$)    8357 non-null float64
Total population (Gapminder)                                          8357 non-null float64
dtypes: float64(3), int64(1), object(2)
memory usage: 457.0+ KB

In [17]:
co2_gdp_trim = co2_gdp_no_nan.drop('Code', axis=1)
co2_gdp_trim.head(5)

,Entity,Year,CO₂ emissions per capita (tonnes per year),GDP per capita (inflation and PPP-adjusted) (2011 international-$),Total population (Gapminder)
128,Albania,1970,1.7616,3345.638212,2135599.0
129,Albania,1971,1.9818,3398.698843,2188650.0
130,Albania,1972,2.5323,3454.167139,2241623.0
131,Albania,1973,2.3121,3510.072058,2294578.0
132,Albania,1974,1.8350,3571.005916,2347607.0

In [20]:
co2_gdp_2000 = co2_gdp_trim[co2_gdp_trim['Year'] == 2000]
co2_gdp_2000.head(5)

,Entity,Year,CO₂ emissions per capita (tonnes per year),GDP per capita (inflation and PPP-adjusted) (2011 international-$),Total population (Gapminder)
158,Albania,2000,0.9909,4869.447645,3071856.0
228,Algeria,2000,2.8626,9375.664010,30533827.0
435,Angola,2000,0.6973,2266.947684,13926373.0
502,Anguilla,2000,8.0373,24863.071423,11068.0
697,Argentina,2000,3.8535,14189.448274,36930709.0

In [25]:
list(co2_gdp_2000.columns)

['Entity',
 'Year',
 'CO₂ emissions per capita (tonnes per year)',
 'GDP per capita (inflation and PPP-adjusted) (2011 international-$)',
 'Total population (Gapminder)']

In [29]:
co2_gdp_2000.columns = ['Entity', 'Year', 'CO2_tons_per_capita', 'GDP_per_capita', 'total_population']

In [30]:
co2_gdp_2000.to_csv('CO2_vs_GDP_per_cap_2000.csv', index=False)

In [4]:
help(pd.DataFrame.pivot)

Help on function pivot in module pandas.core.frame:

pivot(self, index=None, columns=None, values=None)
    Reshape data (produce a "pivot" table) based on column values. Uses
    unique values from index / columns to form axes of the resulting
    DataFrame.

    Parameters
    ----------
    index : string or object, optional
        Column name to use to make new frame's index. If None, uses
        existing index.
    columns : string or object
        Column name to use to make new frame's columns
    values : string or object, optional
        Column name to use for populating new frame's values. If not
        specified, all remaining columns will be used and the result will
        have hierarchically indexed columns

    Returns
    -------
    pivoted : DataFrame

    See also
    --------
    DataFrame.pivot_table : generalization of pivot that can handle
        duplicate values for one index/column pair
    DataFrame.unstack : pivot based on the index values instead of a
        column

    Notes
    -----
    For finer-tuned control, see hierarchical indexing documentation along
    with the related stack/unstack methods

    Examples
    --------

    >>> df = pd.DataFrame({'foo': ['one','one','one','two','two','two'],
                           'bar': ['A', 'B', 'C', 'A', 'B', 'C'],
                           'baz': [1, 2, 3, 4, 5, 6]})
    >>> df
        foo   bar  baz
    0   one   A    1
    1   one   B    2
    2   one   C    3
    3   two   A    4
    4   two   B    5
    5   two   C    6

    >>> df.pivot(index='foo', columns='bar', values='baz')
         A   B   C
    one  1   2   3
    two  4   5   6

    >>> df.pivot(index='foo', columns='bar')['baz']
         A   B   C
    one  1   2   3
    two  4   5   6